<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>School manager</title>
          {% load static %}
        <link rel="stylesheet" href = "{%static 'css/register.css' %}">

    </head>
    <body>

    <form method="POST" autocomplete="off">
        <h2> Register a New User</h2>
         <div class="glass-container">

            <div class="register-box">

                {% csrf_token %}

                {{ form.as_p }}


                <button type = "submit">Register </button>
                <p> <a href="{% url 'start_page' %}"  class = a>Back</a> </p>

            </div>
         </div>

    </form>
    </body>
</html>