{% include 'navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Future Logs</title>
    <link rel="stylesheet" href="{% static 'css/Logs&goals.css' %}">
    <link rel="stylesheet" href="{% static 'css/common_style.css' %}">
    {#link to styling#}

</head>

<body>
<div class="main_content">
    <h1>Future logs and goals</h1>

    {#------------ Create new log -------------------#}
    {# ---- pop up button ------#}
    <button class="btn" onclick="newLog.showModal()">New Log</button>

    {#--------- Create new goal ---------#}
    {# ---- pop up button ------#}
    <button class="btn" onclick="newGoal.showModal()">New Goal</button>

    {#--------- Delete Log ---------#}
    <!-- Delete Log pop up button -->
    <button class="btn" onclick="deleteLog.showModal()">Delete Log</button>



    {# ------------ Display list ------------#}
    <div class="log-grid">
        {% for Logs in log %}
            <div class="logs"><h2><u><b> {{ Logs.Log_name }} </b></u></h2></div>{# list title #}
            {# Logs right click menu#}
            <div id="LogsRightClickMenu" class="LogsRightClickMenu">
                <ul>
                    <li><a href="{% url 'update_log_name' Logs.id %}">Edit</a></li>
                    <li><a href="{% url 'delete_log' Logs.id %}"
                           onclick="return confirm('Are you sure you want to delete {{  Logs.Log_name }}?');">Delete</a></li>
                </ul>

            </div>
            {# ------------ Display goals for each Log ------------#}
            {% for Goal in goals %}
                {% if Goal.log.Log_name == Logs.Log_name %}
                    <ul>
                        {% if Goal.completed == True %}
                            <button onclick="location.href='{% url 'Toggle_goals' Goal.id %}'"
                                    class="action-link">✓
                            </button>

                        {#If very important; bold it#}
                            {% if Goal.get_Importance_display == 'Very Important' %}
                                <li class="goals" ><b><s>{{ Goal.description }}</s></b></li>
                                <form style="display: inline-block" action="{% url 'update_goal' Goal.id %}"
                                      method="get">
                                    <button><img class="button_image_style"
                                                 src="/staticfiles/images/edit-Icon.png"
                                                 alt="Edit button"></button>
                                </form>

                                {# Delete Goal  #}
                                <form style="display: inline-block" action="{% url 'delete_goal' Goal.id %}"
                                      method="get">
                                    <button><img class="button_image_style"
                                                 src="/staticfiles/images/delete-icon.png"
                                                 alt="Delete button "></button>
                                </form>

                            {% else %}
                                <li class="goals" ><s>{{ Goal.description }}</s></li>
                                <form style="display: inline-block" action="{% url 'update_goal' Goal.id %}"
                                      method="get">
                                    <button><img class="button_image_style"
                                                 src="/staticfiles/images/edit-Icon.png"
                                                 alt="Edit button"></button>
                                </form>

                                {# Delete Goal  #}
                                <form style="display: inline-block" action="{% url 'delete_goal' Goal.id %}"
                                      method="get">
                                    <button><img class="button_image_style"
                                                 src="/staticfiles/images/delete-icon.png"
                                                 alt="Delete button "></button>
                                </form>
                            {% endif %}


                        {% else %}
                            <button onclick="location.href='{% url 'Toggle_goals' Goal.id %}'"
                                    class="action-link">☐
                            </button>
                        {#If very important; bold it#}
                            {% if Goal.get_Importance_display == 'Very Important' %}
                                <li class="goals" ><b>{{ Goal.description }}</b></li>
                                <form style="display: inline-block" action="{% url 'update_goal' Goal.id %}"
                                      method="get">
                                    <button><img class="button_image_style"
                                                 src="/staticfiles/images/edit-Icon.png"
                                                 alt="Edit button"></button>
                                </form>

                                {# Delete Goal  #}
                                <form style="display: inline-block" action="{% url 'delete_goal' Goal.id %}"
                                      method="get">
                                    <button><img class="button_image_style"
                                                 src="/staticfiles/images/delete-icon.png"
                                                 alt="Delete button "></button>
                                </form>

                            {% else %}
                            <li class="goals">{{ Goal.description }}</li>
                                <form style="display: inline-block" action="{% url 'update_goal' Goal.id %}"
                                      method="get">
                                    <button><img class="button_image_style"
                                                 src="/staticfiles/images/edit-Icon.png"
                                                 alt="Edit button"></button>
                                </form>

                                {# Delete Goal  #}
                                <form style="display: inline-block" action="{% url 'delete_goal' Goal.id %}"
                                      method="get">
                                    <button><img class="button_image_style"
                                                 src="/staticfiles/images/delete-icon.png"
                                                 alt="Delete button "></button>
                                </form>
                            {% endif %}



                        {% endif %}
                    </ul>
                {% endif %}


                {#                Goals right click menu#}
                <div id="EventRightClickMenu" class="EventRightClickMenu">
                    <ul>
                        <li><a href="{% url 'update_goal' Goal.id %}">Edit</a></li>
                        <li><a href="{% url 'delete_goal' Goal.id %}"
                               onclick="return confirm('Are you sure you want to delete this event?');">Delete</a></li>
                    </ul>

                </div>

            {% endfor %}
        {% endfor %}
    </div>

    {#------------ Create new list -------------------#}
    {#----- pop up --------#}
    <dialog id="newLog" class="modal">
        <div class="modal-box">
            {# ---- list Form -----  #}
            <h3>New Log</h3>{# Title #}
            <form method="post" action="{% url 'create_logs' %}">
                {% csrf_token %}
                {{ logForm.as_p }}
                <input type="submit">
            </form>

            <div class="modal-action">
                <form method="dialog">
                    <button class="btn">Close</button>
                </form>
            </div>
        </div>
    </dialog>


    {#--------- Create new goal ---------#}
    {#----- pop up --------#}
    <dialog id="newGoal" class="modal">
        <div class="modal-box">
            <div class="test">
                {# ---- goal Form -----  #}
                <h3>New Goal</h3>{# Title #}
                <form method="post" action="{% url 'create_goal' %}">
                    {% csrf_token %}
                    {{ goalForm.as_p }}
                    <input type="submit">
                </form>
                <div class="modal-action">
                    <form method="dialog">
                        <button class="btn">Close</button><!-- Close button -->
                    </form>
                </div>
            </div>
        </div>
    </dialog>


    {#------------ Delete Goals -------------------#}
    {#----- pop up --------#}
    <dialog id="deleteGoal" class="modal">
        <div class="modal-box">

            {# --------- Display all Goals -----  #}
            <h3>Delete Goal</h3> {# Title #}

            {% for Goal in goals %}
                {{ Goal.description }}<br>
                <a href="{% url 'delete_goal' Goal.id %}" class="action-link">Delete</a><br><br>
            {% endfor %}
            <div class="modal-action">
                <form method="dialog">
                    <br>
                    <button class="btn">Close</button>
                </form>
            </div>
        </div>
    </dialog>


    {#------------ Delete Logs -------------------#}
    {#----- pop up --------#}
    <dialog id="deleteLog" class="modal">
        <div class="modal-box">

            {# --------- Display all Logs -----  #}
            <h3>Delete Log</h3> {# Title #}

            {% for Logs in log %}
                <br>{{ Logs.Log_name }}<br>
                <a href="{% url 'delete_log' Logs.id %}" class="action-link">Delete</a><br>
            {% endfor %}
            <div class="modal-action">
                <form method="dialog">
                    <br>
                    <button class="btn">Close</button>
                </form>
            </div>
        </div>
    </dialog>

    <script src="{% static 'javascript/RighClickMenu_script.js' %}" defer></script>

</div>



{#------------ Update Logs -------------------#}
{#----- pop up --------#}
<dialog id="updateLogs" class="modal" open = "open">
    <div class="modal-box">
        {# ---- Update Form -----  #}
        <h3>Edit Goals</h3> {# Title #}
        <form method="post" autocomplete="off" >
    {% csrf_token %}
    {{ UpdateLogsForm.as_p }}{# form displaying #}
    <button type="submit">Update</button>
</form>

      <div class="modal-action">
            <form method="get" action="{% url 'FutureLogsGoals' %}">
                <button >Back</button>
            </form>
        </div>

    </div>

</dialog>



</body>
</html>