/*
beige - F3D1B5
light blue - ADB9BC
medium desat blue cyanish whatever - 566B72
dark blueish teal - 254B5B
light pink - E68E77
dark saturated pink - D05E43
cyan (possibly for accents) - 20AB93
dark almost black blue - 171717
*/

/*----------- Navigation bar ---------*/
body
{
    height: 100vh;
    background-color: #F3D1B5;
    background-position: center;
    background-size: cover;
    margin: 30px;
}

li{
    list-style:none
}

a {
    text-decoration: none;
    color: #D05E43;
    font-size: 1rem;
}

a:hover
{
    color: #20AB93; /*change later*/
}

header
{
    position: relative;
    padding: 0.2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn
{
    color:#D05E43;
    font-size: 1.5rem;
    cursor:pointer;
    display:none
}

.action_btn{
    background-color: #E68E77; /*change the color*/
    color: #D05E43;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.action_bt:hover
{
    scale: 1.05;
    color: white;
}

.action_bt:active
{
    scale: 0.95;
}


/* DROPDOWN MENU */

.dropdown_menu {
    display:none;
    position: absolute;
    right:2rem;
    z-index: 1;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.75, 0.885, 0.32, 1.275);
}

.dropdown_menu.open
{
    display: none;
    height: 150px;
}

.dropdown_menu li
{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn
{
    width:100%;
    display: flex;
    justify-content: center;
}

/* RESPONSIVE DESIGN */

@media(max-width: 992px)
{
    .navbar .links,
    .navbar .action_btn
    {
        display:none;
    }

    .navbar .toggle_btn
    {
        display: block;
    }

    .dropdown_menu
    {
        display: none;
    }

    .dropdown_menu.open
    {
        display: block;
    }
}


@media(max-width: 576px)
{
    .dropdown_menu
    {
    left: 2rem;
    width: unset;
    }
}

/*-------- Body --------*/
.container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: center;
    grid-template-rows: 500px;
    grid-template-areas:
    "item-1 item-2";
    z-index:0;
}
.item-1 {
    grid-area: item-1;
}

.item-2 {
    grid-area: item-2;
}

/*------ Responsive -----*/

@media(max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 20px;
    }

    .glass-container {
        width: 90%;
        height: auto;
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

.glass-container {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: 1px solid #D05E43;
    /*padding: 30px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.glass-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: -1;
}

.glass-container h1
 {
        font-size: 1.8rem;
        color: #D05E43;
        margin: 0;
        text-align: left;
        line-height: 1.4;
 }

.glass-container:hover {
    box-shadow: 0 0 20px rgba(208, 94, 67, 0.5);
    transition: box-shadow 0.4s;
}


.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px auto;
    width: 100%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 30px;
    border-radius: 20px;
    border: 1px solid #D05E43;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container2 h2
{
    font-family: 'Nunito', light;
    font-size: 1.8rem;
    color: #D05E43;
}

.gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 50px 0;
}

.gif {
    display: block;
    margin: 20px auto;
    width: 50%;
    height: auto;
}


@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "item-1"
            "item-2";
        gap: 20px;
        padding: 20px;
    }
       .glass-container {
        width: 90%;
        margin: 0 auto;
        height: auto;
        padding: 20px;
    }

    .item-2 img {
        width: 100%;
        height: auto;
    }
}



